@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 2px solid darkgray;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 8rem;
  font-size: 1.2rem;
}

select {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  /* border: 2px solid black; */
}

.equals-symbol {
  font-weight: bold;
  font-size: 3rem;
}